.group-member-list {
  margin-bottom: 15px;
}

.group-member-list h4 a {
  color: inherit;
  line-height: 19px;
}

.group-member-list .list-group {
  margin: 0;
}

.group-member-list img {
  float: left;
  margin-right: 10px;
}

.group-member-list li {
  padding: 0;
  position: relative;
}

.group-member-list li .remove-member-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 100;
}

.group-member-list li:hover .remove-member-btn {
  display: block;
}

a.group-member {
  display: block;
  height: 55px;
  padding: 10px;
}

.group-member-name {
  line-height: 35px;
}

.group-member-list li .group-mod {
  color: rgb(204, 204, 204);
  position: absolute;
  right: 30px;
  top: 17px;
}
