.post {
  padding: 10px 10px 10px 10px;
}

.post:not(:last-child) {
  border-bottom: solid 1px rgb(221, 221, 221);
}

.post-user-name, .post-date {
  margin: 0;
}

.post-user-name {
  line-height: 14px;
}

.post-content {
  margin: 5px 0;
}

p.post-date {
  font-size: 12px;
}

.group-member-list {
  margin-bottom: 15px;
}

.group-member-list .list-group {
  margin: 0;
}

.group-member-list img, .post img {
  float: left;
  margin-right: 10px;
}

.group-member-list a {
  height: 55px;
  line-height: 35px;
}

