.group-member-list {
  margin-bottom: 15px;
}

.group-member-list h4 a {
  color: inherit;
  line-height: 19px;
}

.group-member-list .list-group {
  margin: 0;
}

.group-member-list img, .post img {
  float: left;
  margin-right: 10px;
}

.group-member-list li {
  padding: 0;
  position: relative;
}

.group-member-list li .remove-memeber-btn {
  position: absolute;
  right: -30px;
  top: 20px;
}

.group-member-list a.member-list-user {
  display: block;
  height: 55px;
  line-height: 35px;
  padding: 10px;
}

