.post {
  padding: 10px 0px;
}

.post p.post-user-name, .post p.post-date {
  margin-bottom: 5px;
}

.post p.post-content {
  margin-bottom: 0;
}

.post-avatar-col {
  float: left;
  width: 60px;
}

.post-fluid-col {
  margin-left: 75px;
}

.post:not(:last-child) {
  border-bottom: solid 1px rgb(221, 221, 221);
}

.post-user-name {
  line-height: 14px;
}

.post-content {
  text-align: justify;
}

.post-date a {
  color: rgb(150, 150, 150);
  font-size: 12px;
}